class TestCredentials
  INSTANCE = TestCredentials.new(
    # Configure these values before running specs
    'MY_TWITTER_CONSUMER_KEY',
    'MY_TWITTER_CONSUMER_SECRET',
    'MY_TWITTER_OAUTH_TOKEN',
    'MY_TWITTER_OAUTH_TOKEN_SECRET',
    'MY_FACEBOOK_APP_ID',
    'MY_FACEBOOK_APP_SECRET'
  )
  EXPIRED_CREDENTIALS = TestCredentials.new(
    'MY_TWITTER_CONSUMER_KEY', # Same as above
    'MY_TWITTER_CONSUMER_SECRET', # Same as above
    'ANYTHING_RANDOM_STRING_HERE',
    'ANOTHER_RANDOM_STRING_HERE',
    'MY_FACEBOOK_APP_ID', # Same as above
    'ANOTHER_STRING_WHATEVER_YOU_WANT'
  )
end
